import Java.util.Scanner;

#create a class
public class helloWorld()
{
     #create a main method for this class
     public static void main(String args[])
     {
          System.out.println("Hello World My dear Guys");
     }
}
